{% extends 'base.html.twig' %}

{% block title %}Gestion des villes | {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="text-center fw-bold">Gérer les villes</h1>


    <div>
        <div class="w3-responsive tableFixHead w3-card-4" style="height:600px; margin-top: 40px">

            <table class="w3-table-all w3-hoverable " >
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for city in cities  %}
                        <tr>
                            <td>{{ city.nom |upper }}</td>
                            <td>{{ city.codePostal }}</td>
                            <td>
                                    <a href="#">Modifier</a>

                                    <a href="{{ path('admin_remove_city', {"id": city.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                {% endfor %}
                {{ form_start(cityForm) }}
                        <tr>
                            <td>{{ form_widget(cityForm.nom) }}</td>
                            <td>{{ form_widget(cityForm.codePostal) }}</td>
                            <td>{{ form_widget(cityForm.submit) }}</td>
                        </tr>
                {{ form_end(cityForm) }}


                </tbody>
            </table>
        </div>

    </div>
    <div>



    </div>

{% endblock %}

