{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

    <div class="w3-right-align">
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.nom|capitalize }} {{ app.user.prenom|capitalize|u.truncate(1) }}.</p>
    </div>

    <h3 class="w3-center">Filter les sorties</h3>
    {% form_theme sortieForm 'bootstrap_5_horizontal_layout.html.twig' %}
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>Rechercher</button>
        {{ form_end(sortieForm) }}
    </div>

    <div class="w3-responsive tableFixHead">
        <table class="w3-table-all w3-hoverable ">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y h:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                    <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{% if app.user in  sortie.participants %}X{% endif %}</td>
                    <td><a href="{{ path('participant_profil', {"pseudo" : sortie.organisateur.pseudo}) }}">
                            {{ sortie.organisateur.nom|capitalize }} {{ sortie.organisateur.prenom|capitalize|u.truncate(1) }}.</a></td>
                    <td>
                        {% if app.user == sortie.organisateur %}
                            {% if sortie.etat.libelle == 'Créée' %}
                                  <a href="#">Modifier</a> -
                                <a href="#">Publier</a>
                            {% else %}
                                <a href="{{ path('sortie_details', {"id" : sortie.id}) }}">Afficher</a>
                                {%if sortie.etat.libelle == 'Ouverte' %}
                                     - <a href="#">Annuler</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{{ path('sortie_details', {"id" : sortie.id}) }}">Afficher</a>
                            {% if sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
                                {% if app.user in  sortie.participants %}
                                    - <a href="#">Se désister</a>
                                {% else %}
                                    - <a href="#">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td class="w3-animate-fading">Il n'y a pas de sortie à afficher !</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div>
        <a href="{{ path('sortie_create') }}" class="w3-button w3-round-xlarge w3-border">Créer une sortie</a>
    </div>

{% endblock %}
