{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center fw-bold">Créer une sortie</h1>

    {% form_theme sortieForm 'bootstrap_5_horizontal_layout.html.twig' %}
    <div >
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}
        <button class="annul">  <a href="{{ path('sortie_accueil') }}">Annuler</a></button>
        {{ form_end(sortieForm) }}
    </div>


    <div class="w3-center">
        <button class="w3-btn w3-large w3-border" onclick="history.go(-1)">Retour</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>


        function getSelectValue(selectId)
        {
            var selectElmt = document.getElementById(selectId);
            return selectElmt.options[selectElmt.selectedIndex].value;
        }

        function initLieux() {
            // appel API
            fetch("{{ app_url_api }}/lieux?id=" + getSelectValue('create_sortie_ville'), { method: "GET"})
                .then(response => response.json())
                .then(response => {
                        console.log(response);
                        // récupérer les données
                        // les traiter
                        let options="";
                        response.map(lieu => {
                            options += `<option value="${lieu.id}">${lieu.nom}</option>`;
                        })
                        console.log(options);
                        // injecter le résultat dans <select>
                        document.querySelector("#create_sortie_lieu").innerHTML = options;
                    }
                )
                .catch(e => {
                    alert("ERREUR")
                })

        }
        window.onload = () => {

            document.querySelector("#create_sortie_ville").addEventListener("change", function() {
                initLieux();
            })
            initLieux();
        }
    </script>
{% endblock %}