{% extends 'base.html.twig' %}

{% block title %}Créer une sortie | {{ parent() }}{% endblock %}

{% block body %}

<h1 class="text-center fw-bold">Créer une sortie</h1>

    {% form_theme sortieForm 'bootstrap_5_horizontal_layout.html.twig' %}
    <div id="collapseMobileDevice">
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}
        <button class="annul">  <a href="{{ path('sortie_accueil') }}">Annuler</a></button>
        {{ form_end(sortieForm) }}
    </div>

    <div id="messageMobileDevice">
       Désolé... La création de sortie est impossible depuis un appareil mobile pour l'instant...
    </div>

    <div id="collapseMobileDevice" class="w3-container">
        <label for="lieu_rue">Rue :</label><label id="lieu_rue"></label><br>
        <label for="lieu_code_postal">Code postal :</label><label id="lieu_code_postal"></label><br>
        <label for="lieu_latitude">Latitude :</label><label id="lieu_latitude"></label><br>
        <label for="lieu_longitude">Longitude :</label><label id="lieu_longitude"></label>
    </div>


    <div class="w3-center w3-mobile">
        <button class="w3-btn w3-large w3-border" onclick="history.go(-1)">Retour</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var globalLieux;

        function getSelectValue(selectId)
        {
            var selectElmt = document.getElementById(selectId);
            return selectElmt.options[selectElmt.selectedIndex].value;
        }

        function initLieux() {
            // appel API
            fetch("{{ app_url_api }}/lieux?id=" + getSelectValue('create_sortie_ville'), { method: "GET"})
                .then(response => response.json())
                .then(response => {
                        // récupérer les données
                        // les traiter
                        globalLieux = response;
                        let options="";
                        response.map(lieu => {
                            options += `<option value="${lieu.id}">${lieu.nom}</option>`;
                        })
                        // injecter le résultat dans <select>
                        document.querySelector("#create_sortie_lieu").innerHTML = options;
                        // afficher détail lieu
                        displayLieu();
                    }
                )
                .catch(e => {
                    alert("ERREUR")
                })

        }

        function displayLieu() {
            function findCurrentLieu(lieu) {
                if (lieu.id == getSelectValue('create_sortie_lieu')){
                    document.querySelector("#lieu_rue").innerHTML = lieu.rue;
                    document.querySelector("#lieu_code_postal").innerHTML = lieu.ville.codePostal;
                    document.querySelector("#lieu_latitude").innerHTML = lieu.latitude;
                    document.querySelector("#lieu_longitude").innerHTML = lieu.longitude;
                }
            }
            globalLieux.forEach(findCurrentLieu)
        }

        window.onload = () => {

            document.querySelector("#create_sortie_ville").addEventListener("change", function() {
                initLieux();
            })
            document.querySelector("#create_sortie_lieu").addEventListener("change", function() {
                displayLieu();
            })
            initLieux();
        }
    </script>
{% endblock %}