{% extends 'base.html.twig' %}

{% block body %}

    <div class="w3-container">
        <h2>Afficher une sortie</h2>

        {% set liste = [
            ['Nom de la sortie :', sortie.nom ],
            ['Campus :', sortie.campus.nom],
            ['Date et heure de la sortie :', sortie.dateHeureDebut | date('d/m/Y h:i')],
            ['Lieu :', sortie.lieu.nom],
            ["Date limite d'inscription :", sortie.dateLimiteInscription | date('d/m/Y')],
            ['Rue :', sortie.lieu.rue],
            ['Nombre de places :', sortie.nbInscriptionsMax],
            ['Code postal :', sortie.lieu.ville.codePostal],
            ['Durée :', sortie.duree ~ 'minutes'],
            ['Latitude :', sortie.lieu.latitude],
            ['Description et infos :', sortie.infosSortie],
            ['Longitude :', sortie.lieu.longitude],
            ['Etat :', sortie.etat.libelle],
        ] %}

        {% for element in liste %}
            <b class="w3-quarter w3-center w3-padding">{{ element[0] }} </b>
            <label class="w3-quarter w3-border w3-center w3-padding"> {{ element[1] }}</label>
        {% endfor %}
    </div>

    <br>

    <h2>Liste des participants :</h2>

    <div class="w3-responsive tableFixHead">

        <table class="w3-table-all w3-hoverable ">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                <tr>
                    <td>
                        <a href="{{ path('participant_profil', {"pseudo" : participant.pseudo}) }}">{{ participant.pseudo }}</a>
                    </td>
                    <td>{{ participant.prenom }} {{ participant.nom|upper }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    <div class="w3-center">
        <button class="w3-btn w3-large w3-border" onclick="history.go(-1)">Retour</button>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

