<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortie{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/w3.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">



    {% block extrastyles %}{% endblock %}
</head>
<body>


<div class="w3-container">
    <header>
        {% if app.user %}
        <nav>
            <a href="#">Villes</a>
            <a href="#">Campus</a>
            <a href="{{ path('sortir_accueil') }}">Accueil</a>
            <a href="">Mon profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </nav>
        {% endif %}
    </header>
</div>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="w3-container">
    <main>
        {% block body %}{% endblock %}

    </main>
    </div>
    <div class="w3-container w3-bottom">
    <footer>

        <div class="w3-border-bottom">&copy; {{ "now"|date("Y") }} Sorties ENI</div>

    </footer>
    </div>
</body>
</html>